.navbar{
  background-color: lightslategrey;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
  }
 li {
  display: inline-block;
  padding: 10px;

 }
 a{
   color: black;
   font-family: Helvetica, sans-serif;
   font-size: 20px;
 }
}
body{
  margin: 0;
}
